<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的申请</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            width: 100%;
            height: 900px;
            background: antiquewhite;
        }
    </style>
    <script>
        $(function () {
            $.ajax({
                //contentType:"application/json;charset=UTF-8",//发送数据以key=value的形式传递
                data: {},//向后台controller发送的数据
                // dataType:"json", //json格式解析返回数据
                type: "get",
                url: "/user/getCurrentUser",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest.status); //状态码
                    console.log(XMLHttpRequest.readyState); //状态
                    console.log(textStatus); //错误信息
                },
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                        var phone = data;
                        $("#loginphone").text(data);
                        $.ajax({
                            //contentType:"application/json;charset=UTF-8",//发送数据以key=value的形式传递
                            data: {"phone":phone},//向后台controller发送的数据
                            // dataType:"json", //json格式解析返回数据
                            type: "get",
                            url: "/user/getmysubmitrecord",
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log(XMLHttpRequest.status); //状态码
                                console.log(XMLHttpRequest.readyState); //状态
                                console.log(textStatus); //错误信息
                            },
                            success: function (data) {
                                if (data != null) {
                                    for(var i=0;i<data.length;i++){
                                        var record="<tr>\n" +
                                            "                    <td>"+data[i].apply_record_company+"</td>\n" +
                                            "                    <td>"+data[i].apply_record_position+"</td>\n" +
                                            "                    <td>"+data[i].apply_record_time+"</td>\n" +
                                            "                </tr>";
                                        $("#body").append(record);
                                    }
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="margin-left: 280px" href="http://localhost:8002/recommendpage">推荐</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8001/index">首页</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8001/homepage">职位</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8003/chat">聊天</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8002/dynamicpage">动态</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8001/positionchart">职位分析</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8004/jobstrategy">求职攻略</a>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user" id="loginphone">登录</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/myaddjoblist">我的招聘信息</a></li>
                    <li><a href="http://localhost:8004/addtest">发布测评</a></li>
                    <li><a href="http://localhost:8004/taketest">参加测评</a></li>
                    <li><a href="http://localhost:8001/getmysubmitrecord">个人申请记录</a></li>
                    <li><a href="http://localhost:8004/mybookloverecord">我的收藏</a></li>
                    <li><a href="http://localhost:8004/mybuybookrecord">我购买的攻略书籍</a></li>
                    <li><a href="http://localhost:8004/mysalebookrecord">我卖的攻略书籍</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </li>
            <li style="margin-right: 300px"><a href="http://localhost:8001/register"><span class="glyphicon glyphicon-log-in"></span>注册</a></li>
        </ul>
    </div>
</nav>
    <div style="width: 940px;background: white;margin: auto">
        <div data-v-aed89754="" class="job-tab" style="border-bottom: 1px solid skyblue">
            <span style="width: 60px;font-size: 22px;height:40px;cursor: pointer;color:#54cbc4">沟通过</span>
            <span style="width: 60px;font-size: 22px;height:40px;cursor: pointer;margin-left: 30px;color:#54cbc4">已投递</span>
            <span style="width: 60px;font-size: 22px;height:40px;cursor: pointer;margin-left: 30px;color:#54cbc4">面试</span>
            <span style="width: 60px;font-size: 22px;height:40px;cursor: pointer;margin-left: 30px;color:#54cbc4">感兴趣</span>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>公司名</th>
                <th>职位</th>
                <th>申清时间</th>
            </tr>
            </thead>
            <tbody id="body">

            </tbody>
        </table>
    </div>
</body>
</html>