<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            width: 100%;
            height: 900px;
            background: antiquewhite;
        }
    </style>
    <script>
        $(function () {
            var key;
            var phone;
            $.ajax({
                //contentType:"application/json;charset=UTF-8",//发送数据以key=value的形式传递
                data: {},//向后台controller发送的数据
                // dataType:"json", //json格式解析返回数据
                type: "get",
                url: "/user/getCurrentUser",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest.status); //状态码
                    console.log(XMLHttpRequest.readyState); //状态
                    console.log(textStatus); //错误信息
                },
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                        phone = data;
                        $("#loginphone").text(data);
                    }
                    $.ajax({
                        //contentType:"application/json;charset=UTF-8",//发送数据以key=value的形式传递
                        data: {},//向后台controller发送的数据
                        // dataType:"json", //json格式解析返回数据
                        type: "get",
                        url: "/user/getkeytip",
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(XMLHttpRequest.status); //状态码
                            console.log(XMLHttpRequest.readyState); //状态
                            console.log(textStatus); //错误信息
                        },
                        success: function (data) {
                            if (data != null) {
                                key=data;
                            }
                            $.ajax({
                                //contentType:"application/json;charset=UTF-8",//发送数据以key=value的形式传递
                                data: {content:key},//向后台controller发送的数据
                                // dataType:"json", //json格式解析返回数据
                                type: "get",
                                url: "/user/getDynamicByContent",
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.log(XMLHttpRequest.status); //状态码
                                    console.log(XMLHttpRequest.readyState); //状态
                                    console.log(textStatus); //错误信息
                                },
                                success: function (data) {
                                    if (data.length>0) {
                                        console.log(data);
                                        if(data.length<10){
                                            for(var i=0;i<data.length;i++){
                                                var body= $("#dynamicResult_id");
                                                var tr= $("<tr></tr>");
                                                var td1= $("<td></td>");
                                                var td2= $("<td style=\"vertical-align: bottom;font-size: 12px;width: 200px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;\"></td>");
                                                var td3= $("<td></td>");
                                                var div= $("<div></div>");
                                                div.text(data[i].dynamic_content);
                                                td1.text(data[i].dynamic_user_id);
                                                td2.append(div);
                                                td3.text(data[i].dynamic_send_time);
                                                tr.append(td1);
                                                tr.append(td2);
                                                tr.append(td3);
                                                body.append(tr);
                                            }
                                        }
                                        else {
                                            for(var i=0;i<10;i++){
                                                var body= $("#dynamicResult_id");
                                                var tr= $("<tr></tr>");
                                                var td1= $("<td></td>");
                                                var td2= $("<td style=\"vertical-align: bottom;font-size: 12px;width: 200px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;\"></td>");
                                                var td3= $("<td></td>");
                                                var div= $("<div></div>");
                                                div.text(data[i].dynamic_content);
                                                td1.text(data[i].dynamic_user_id);
                                                td2.append(div);
                                                td3.text(data[i].dynamic_send_time);
                                                tr.append(td1);
                                                tr.append(td2);
                                                tr.append(td3);
                                                body.append(tr);
                                            }
                                        }
                                    }
                                    else {
                                        $("#dynamicResult").empty();
                                    }
                                }
                            });
                            $.ajax({
                                //contentType:"application/json;charset=UTF-8",//发送数据以key=value的形式传递
                                data: {phone:phone,content:key},//向后台controller发送的数据
                                // dataType:"json", //json格式解析返回数据
                                type: "get",
                                url: "/user/getchatlistbyuserandcontent",
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.log(XMLHttpRequest.status); //状态码
                                    console.log(XMLHttpRequest.readyState); //状态
                                    console.log(textStatus); //错误信息
                                },
                                success: function (data) {
                                    if (data.length>0) {
                                        console.log(data);
                                        if(data.length<10){
                                            for(var i=0;i<data.length;i++){
                                                var body= $("#chatResult_id");
                                                var tr= $("<tr></tr>");
                                                var td1= $("<td></td>");
                                                var td2= $("<td></td>");
                                                var td3= $("<td style=\"vertical-align: bottom;font-size: 12px;width: 200px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;\"></td>");
                                                td1.text(data[i].chat_user_id);
                                                td2.text(data[i].chat_usered_id);
                                                td3.text(data[i].chat_send_content);
                                                tr.append(td1);
                                                tr.append(td2);
                                                tr.append(td3);
                                                body.append(tr);
                                            }
                                        }
                                        else {
                                            for(var i=0;i<10;i++){
                                                var body= $("#chatResult_id");
                                                var tr= $("<tr></tr>");
                                                var td1= $("<td></td>");
                                                var td2= $("<td></td>");
                                                var td3= $("<td style=\"vertical-align: bottom;font-size: 12px;width: 500px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;\"></td>");
                                                td1.text(data[i].chat_user_id);
                                                td2.text(data[i].chat_usered_id);
                                                td3.text(data[i].chat_send_content);
                                                tr.append(td1);
                                                tr.append(td2);
                                                tr.append(td3);
                                                body.append(tr);
                                            }
                                        }
                                    }
                                    else {
                                        $("#chatResult").empty();
                                    }
                                }
                            });
                            $.ajax({
                                //contentType:"application/json;charset=UTF-8",//发送数据以key=value的形式传递
                                data: {content:key},//向后台controller发送的数据
                                // dataType:"json", //json格式解析返回数据
                                type: "get",
                                url: "/user/getUserByPhoneAndName",
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.log(XMLHttpRequest.status); //状态码
                                    console.log(XMLHttpRequest.readyState); //状态
                                    console.log(textStatus); //错误信息
                                },
                                success: function (data) {
                                    if (data.length>0) {
                                        console.log(data);
                                        if(data.length<10){
                                            for(var i=0;i<data.length;i++){
                                                var body= $("#personResult_id");
                                                var tr= $("<tr></tr>");
                                                var td1= $("<td></td>");
                                                var td2= $("<td style=\"vertical-align: bottom;font-size: 12px;width: 200px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;\"></td>");
                                                var td3= $("<td></td>");
                                                td1.text(data[i].user_name);
                                                td2.text(data[i].school);
                                                td3.text(data[i].major);
                                                tr.append(td1);
                                                tr.append(td2);
                                                tr.append(td3);
                                                body.append(tr);
                                            }
                                        }
                                        else {
                                            for(var i=0;i<10;i++){
                                                var body= $("#personResult_id");
                                                var tr= $("<tr></tr>");
                                                var td1= $("<td></td>");
                                                var td2= $("<td style=\"vertical-align: bottom;font-size: 12px;width: 200px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;\"></td>");
                                                var td3= $("<td></td>");
                                                td1.text(data[i].user_name);
                                                td2.text(data[i].school);
                                                td3.text(data[i].major);
                                                tr.append(td1);
                                                tr.append(td2);
                                                tr.append(td3);
                                                body.append(tr);
                                            }
                                        }
                                    }
                                    else {
                                        $("#personResult").empty();
                                    }
                                }
                            });
                            $.ajax({
                                //contentType:"application/json;charset=UTF-8",//发送数据以key=value的形式传递
                                data: {content:key},//向后台controller发送的数据
                                // dataType:"json", //json格式解析返回数据
                                type: "get",
                                url: "/user/getPositionByCompanyName",
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.log(XMLHttpRequest.status); //状态码
                                    console.log(XMLHttpRequest.readyState); //状态
                                    console.log(textStatus); //错误信息
                                },
                                success: function (data) {
                                    if (data.length>0) {
                                        console.log(data);
                                        if(data.length<10){
                                            for(var i=0;i<data.length;i++){
                                                var body= $("#companyResult_id");
                                                var tr= $("<tr></tr>");
                                                var td1= $("<td></td>");
                                                var td2= $("<td style=\"vertical-align: bottom;font-size: 12px;width: 200px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;\"></td>");
                                                var td3= $("<td></td>");
                                                td1.text(data[i].company_name);
                                                td2.text(data[i].position_name);
                                                td3.text(data[i].position_walfare);
                                                tr.append(td1);
                                                tr.append(td2);
                                                tr.append(td3);
                                                body.append(tr);
                                            }
                                        }
                                        else {
                                            for(var i=0;i<10;i++){
                                                var body= $("#companyResult_id");
                                                var tr= $("<tr></tr>");
                                                var td1= $("<td></td>");
                                                var td2= $("<td style=\"vertical-align: bottom;font-size: 12px;width: 200px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;\"></td>");
                                                var td3= $("<td></td>");
                                                td1.text(data[i].company_name);
                                                td2.text(data[i].position_name);
                                                td3.text(data[i].position_walfare);
                                                tr.append(td1);
                                                tr.append(td2);
                                                tr.append(td3);
                                                body.append(tr);
                                            }
                                        }
                                    }
                                    else {
                                        $("#companyResult").empty();
                                    }
                                }
                            });
                        }
                    });
                }
            });
        })
        function searchAllInfo() {
            var alltip = $("#searchallinfo").val();
            window.location.href="/searchAllInfo?keytip="+alltip;
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="margin-left: 280px" href="http://localhost:8002/recommendpage">推荐</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8001/index">首页</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8001/homepage">职位</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8003/chat">聊天</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8002/dynamicpage">动态</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8001/positionchart">职位分析</a>
            <a class="navbar-brand" style="margin-left: 10px" href="http://localhost:8004/jobstrategy">求职攻略</a>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input  id="searchallinfo" type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <button style="margin-top: 8px" class="btn btn-default" onclick="searchAllInfo()">提交</button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user" id="loginphone">登录</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/myaddjoblist">我的招聘信息</a></li>
                    <li><a href="http://localhost:8004/addtest">发布测评</a></li>
                    <li><a href="http://localhost:8004/taketest">参加测评</a></li>
                    <li><a href="http://localhost:8001/getmysubmitrecord">个人申请记录</a></li>
                    <li><a href="http://localhost:8004/mybookloverecord">我的收藏</a></li>
                    <li><a href="http://localhost:8004/mybuybookrecord">我购买的攻略书籍</a></li>
                    <li><a href="http://localhost:8004/mysalebookrecord">我卖的攻略书籍</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </li>
            <li style="margin-right: 300px"><a href="http://localhost:8001/register"><span class="glyphicon glyphicon-log-in"></span>注册</a></li>
        </ul>
    </div>
</nav>
    <div style="width: 700px;background: white;margin: auto">
        <div id="dynamicResult">
            <span style="font-size: 24px;color: orangered">动态搜索结果</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>发送人</th>
                    <th>内容</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody id="dynamicResult_id">
                </tbody>
            </table>
        </div>
        <div id="personResult" style="margin-top: 30px">
            <span style="font-size: 24px;color: orangered">用户搜索结果</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>学校</th>
                    <th>专业</th>
                </tr>
                </thead>
                <tbody id="personResult_id">
                </tbody>
            </table>
        </div>
        <div id="companyResult" style="margin-top: 30px">
            <span style="font-size: 24px;color: orangered">公司搜索结果</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>公司名</th>
                    <th>职位</th>
                    <th>福利</th>
                </tr>
                </thead>
                <tbody id="companyResult_id">
                </tbody>
            </table>
        </div>
        <div id="chatResult" style="margin-top: 30px">
            <span style="font-size: 24px;color: orangered">聊天搜索结果</span>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>发送者</th>
                    <th>接受者</th>
                    <th>内容</th>
                </tr>
                </thead>
                <tbody id="chatResult_id">
                </tbody>
            </table>
        </div>
    </div>
    <div style="width:100%;height: 60px"></div>
</body>
</html>